html {
  height: 100%;
  /*min-height: 100%;*/
  /*height: auto;*/
  /*height: 100vh;*/
  outline: 5px solid rgba(255 161 56);
  outline-offset: -5px;
}

body {
  /* margin: 0; */
  /*min-height: 100%;*/ /* А если убрать height и вернуть min-height, то размер body станет правильным */
  height: 100%;
  /*height: auto;*/
  /*height: 100vh;*/
  font-size: 16px;
  font-family: Mulish, sans-serif;
  outline: 5px solid rgb(255, 56, 56, 1);
  outline-offset: -5px;
}

.container {
  display: flex;
  flex-direction: column;
  /*min-height: 100%;*/ /* А если убрать height и вернуть min-height, то размер body станет правильным */
  height: 100%;
  /*height: auto;*/
  /*height: 100vh;*/
  height: 100vh;
  outline: 5px solid rgb(124, 14, 187);
  outline-offset: -5px;
  background-color: rgba(110, 168, 170, 0.521);
}

p {
  padding-left: 20px;
  padding-right: 20px;
}

p:not(.text) {
  color: #3c1eaa;
}

code {
  font-size: inherit;
  color: #a138d7;
}

hr {
  width: 100%; /* из-за флекса */
}

main {
  flex-grow: 1;
}

header {
  background-color: aliceblue;
  outline: 5px solid rgb(187, 14, 14);
  outline-offset: -5px;
}

footer {
  background-color: rgb(202, 248, 246);
  outline: 5px solid rgb(17, 14, 187);
  outline-offset: -5px;
}
