html {
  height: 100%;
  /*min-height: 100%;*/
  /*height: auto;*/
  /*height: 100vh;*/
  outline: 5px solid rgba(255 161 56);
  outline-offset: -5px;
}

body {
  height: 100%;
  /*min-height: 100%;*/
  /*height: auto;*/
  /*height: 100vh;*/
  outline: 5px solid rgb(255, 56, 56, 1);
  outline-offset: -5px;
}

.container {
  height: 100%;
  /*min-height: 100%;*/
  /*height: auto;*/
  /*height: 100vh;*/
  outline: 5px solid rgb(124, 14, 187);
  outline-offset: -5px;
  background-color: rgba(110, 168, 170, 0.521);
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

header {
  background-color: aliceblue;
  outline: 5px solid rgb(187, 14, 14);
  outline-offset: -5px;
  font-size: 50px;
}

footer {
  background-color: rgb(202, 248, 246);
  outline: 5px solid rgb(17, 14, 187);
  outline-offset: -5px;
  font-size: 50px;
}
